body {
    text-align: left;
    display: block;
    margin-left: 50px;
}


.hbox{
    height: 15rem;
    width: 20rem;
    border: 1px solid white;
    padding: 0px 20px;
    background-color: rgb(49, 49, 53);
    /* background-color: antiquewhite; */
}
.hbox h3{
    font-size: 1rem;
}